:root {
    /* --body-color: #cce6ff; */
       --body-color: #4CAF50;
    --text-color: #4CAF50;
    --line-color: #e6f2ff;
    --nav-back-color: #ffffff;
     --contents-color: #b30086;
    --contents-h3-color: #99ccff;
    --contents-h4-color: #88acd3;
    --padding-vert: 2vh;
    --padding-vert-p: .5rem;
    --padding-vert-ul: 1rem;
    --margin-vert: 2vh;
    --padding-nav-vert: 1.5vh;
    --code-t1-color: #b30086;
    --code-t1-bkcolor: #d8a0ca;
    --code-l-bkcolor: #ecbde0;



}

* {
    margin: 0;
    /* padding:0; */
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--body-color); 
    color: var(--text-color);
}


header h1{
    background:white;
    width:max-content;
    padding-left:16px;
    padding-right:16px;
    padding-top:16px;
    padding-bottom:16px;
    /* margin-bottom:24px; */
}


.inner-head h1{
    background:white;
    width:max-content;
   padding-left:12px;
    padding-right:12px;
    padding-top:4px;
    padding-bottom:4px;
    margin-top:24px;
    margin-bottom:24px;
}

.sched-mod{
    background-color: rgba(255,255,255,0.2);
    padding-bottom:4px;

}
.sched-mod a{
    color:white;
    padding:6px;

}
.sched-mod a:hover{
    color:green;
    background-color: white;
    padding:6px;
    
}
.sched-mod h2{
    background:rgb(255, 255, 255);
    width:max-content;
   padding-left:12px;
    padding-right:12px;
    padding-top:4px;
    padding-bottom:4px;
    margin-top:24px;
}
.sched-mod h3{
    background:white;
    width:max-content;
   padding-left:12px;
    padding-right:12px;
    padding-top:4px;
    padding-bottom:4px;
    margin-bottom:12px;
}
.sched-mod ul{
    color:white;

}
.sched-mod ul li{
  padding-bottom:12px;
 font-size: clamp(1.1rem, 1.1vw, 1.5rem); 
 list-style-type: none;

}



.inner-descript h3{
    background:white;
    width:max-content;
    padding-left:12px;
    padding-right:12px;
    padding-top:4px;
     padding-bottom:4px;
}

.inner-descript p{
    background-color:white;
    width:max-content;
    padding-left:12px;
    padding-right:12px;
    padding-top:4px;
    padding-bottom:4px;
    margin-top:4px;
    margin-bottom:4px;
}

p {
  line-height: 1.8; /* Sets line height to 1.8 times the current font size */
  /* margin-bottom: var(--padding-vert-p); */

}

li{
    line-height: 1.8; /* Sets line height to 1.8 times the current font size */
}
ul{
    margin-bottom: var(--padding-vert-ul);
}


p.back-s {
    background-color:#ffb74d;
    font-weight: 500;
    color:white;

}

.section-s{
     /* background-color:#ffb74d; */
        width:max-content;
     /* padding-left:12px; */
    padding-right:24px;
    padding-top:24px;
    padding-bottom:24px;
    /* margin-bottom:12px; */

}
.section-s p{
    background-color:#ffb74d; 
    color:white;
}

.section-j{
    /* background-color:#a8e6ce; */
     width:max-content;
     /* padding-left:12px; */
    padding-right:24px;
    padding-top:24px;
    padding-bottom:24px;
    margin-left:12px;

}
.section-j p{
   background-color:#a8e6ce;
    color:white;
}

p.back-j{
     background-color:#a8e6ce;
     font-weight: 500;
     color:white;

}
.inner-flex{
    display:flex;
}

a{
    text-decoration: none;
    color:white;
}
nav ul {
    /* margin-top: var(--margin-vert);
    margin-bottom: var(--margin-vert); */
    display: flex;
    /* justify-content:right; */
    background-color: var(--nav-back-color);
    flex-wrap: wrap;
    /* The font size will be at least 2rem (32px), at most 5rem (80px),
     and scale with 4% of the viewport width in between. */
    font-size: clamp(1rem, 1vw, 2rem);
    padding:0;
}

nav ul li {
    /* width:10%; */
    text-transform: uppercase;
    list-style-type: none;
    padding: var(--padding-nav-vert);
    line-height: 1.2; /* reset line height */
}


nav ul li a {
    text-decoration: none;
    padding: var(--padding-nav-vert);
}

nav ul li a:link {
    color: var(--text-color);
}


nav ul li a:active {
    color: var(--body-color);
}

nav ul li a:visited {
    color: var(--text-color);
}

nav ul li a:hover {
    background-color: var(--text-color);
    color: var(--nav-back-color);
    padding: var(--padding-nav-vert);
    
}
/* main {
    margin-left: 10vw;
    margin-right: 10vw;

} */
.contents{
    background:white;
    padding-right:24px;
    padding-top:24px;
    padding-bottom:24px;
    padding-left:24px;
}

.contents h3{
    padding:var(--padding-vert-p);
    color:white;
    background:var(--body-color);
    margin-top:12px;
    margin-bottom:12px;
  
    width:max-content;
}

.contents h4{
    padding:var(--padding-vert-p);
    color:white;
    background:var(--body-color);
    margin-top:12px;
    margin-bottom:12px;
  
    width:max-content;
}
.contents a{
    text-decoration: none;
    color:var(--body-color);
}

.contents h3 a{
    text-decoration: none;
    color:white;
}
.contents a:hover{
    text-decoration: none;
    background:var(--body-color);
    color:white;
}

.contents h3 a:hover{
    text-decoration: none;
    color:var(--body-color);
    background:white;
}
.customP{
    color:white;
    background:var(--body-color);
}
.table-grade{
    /* border:1px;
    border-color:var(--body-color);
    border-style: solid; */
    padding:12px;
    font-weight: 500;
    background:var(--body-color);
    color:white;
}
