body{
    padding:0;
    margin:0;

  }
.sky{
    width: 100vw;
    height:280px;
    position:relative;
    padding:0;
    margin:0;
}
.ground{
    width: 100vw;
    height:calc(100vh - 280px);
    position:relative;
    padding:0;
    margin:0;
}

.sun{
    width: 100px;
    height: 100px;
    border-radius:50px;
    position:absolute;
    left:10px;
    top:10px;
}

.imgCharacter{
    position:absolute;
}
.mbCharacter{
    position:absolute;
    color:rgb(29, 27, 27);
    background:rgb(231, 199, 255);
    padding:5px;
}
